DATABASE_URL="postgresql://postgres:postgres@localhost:5432/{{PROJECT_NAME}}?schema=public"
JWT_SECRET="change_me"
ADMIN_JWT_SECRET="change_me_admin"
ADMIN_JWT_ACCESS_EXPIRATION="12h"
ADMIN_JWT_REFRESH_EXPIRATION="7d"
AUTH_COOKIE_DOMAIN=".joyminis.com"
CORS_ORIGIN="https://admin.joyminis.com"
PORT=3000

